<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
    <!-- Custome CSS -->
    <link href="/css/custom/custom.css" type="text/css" rel="stylesheet">
    <!-- Fullcalendar -->
    <link href="/fullcalendar/fullcalendar.css" type="text/css" rel="stylesheet" />
    <link href="/fullcalendar/fullcalendar.min.css" type="text/css" rel="stylesheet" />
    <link href="/fullcalendar/fullcalendar.print.min.css" type="text/css" rel="stylesheet" media="print" />
</head>

<body>
  <% include partials/header %>

    <!-- Main -->
    <div id="main">
      <!-- Wrapper -->
      <div class="wrapper">
        <!-- Left Sidebar Nav-->
        <% include partials/aside %>
          <!-- /Left Sidebar Nav-->
          <!-- Content -->
          <section id="content">
            <!--start container-->
            <div class="container">
              <div class="section">
                <h4 class="center">Agenda de atendimentos</h4>
                <div id="full-calendar">
                  <div class="row">
                    <div class="col s12 m4 l3">
                      <div id='external-events'>
                        <h4 class="header">Solicitações</h4>
                        <% if ( locals.data ) {
                              for (var col = 1; col < data[0].length; col++) { %>
                          <div>
                            <a class="fc-event blue modal-trigger" href="#modal<%=col%>">
                              <%= data[0][col] %>
                            </a>
                          </div>
                          <% }; %>
                            <% } else { %>
                              <p>Data is empty</p>
                              <% } %>

                      </div>
                    </div>
                    <div class="col s12 m8 l9">
                      <div id='calendar' class="calendar"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- /Content-->
      </div>
      <!-- /Wrapper -->
    </div>
    <!-- /Main -->

    <% if ( locals.data ) { %>
      <% for (var col = 1; col < data[0].length; col++) { %>
        <!-- Modal Structure -->
        <div id="modal<%=col%>" class="modal">
          <div class="modal-content">
            <h4>Horários Livres
              <%= data[0][col] %>
            </h4>
            <div class="col s12">

                <table class="layout display responsive-table bordered">
                  <!-- 
                  <tr>
                      <th>Horários</th>
                      <th>Segunda-feira</th>
                      <th>Terça-feira</th>
                      <th>Quarta-feira</th>
                      <th>Quinta-feira</th>
                      <th>Sexta-feira</th>
                    </tr>
                  -->
                    <% for (var row = 1	; row < data.length; row++) { %>
                      <tr>
                        <td>
                          <%= data[row][0] %>
                        </td>
                        <% for (var a = 0; a < data[row].length; a++) { %>
                          <td>
                            <%= data[row][col][a] %>                          
                          </td>
                          <% }; %>
                      </tr>
                      <% }; %>
                  </table>

            </div>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
          </div>
        </div>
        <% }; %>
          <% } %>

            <% include partials/footer %>
              <!--Calendar-->
              <script src='/fullcalendar/lib/jquery-ui.min.js'></script>
              <script src='/fullcalendar/lib/moment.min.js'></script>
              <script src='/fullcalendar/fullcalendar.js'></script>
              <script src="/fullcalendar/locale/pt-br.js"></script>
              <script src="/js/custom-script.js"></script>

</html>