<% if ( locals.authUrl ) { %>
  <h4>É necessário autorizar o acesso a planilha!</h4>
<% } else { %>
	<div id="hoverable-table">
		<h4 class="header">Encaminhamentos</h4>
		<div class="row">
			<div class="col s12">
				<table class="layout display responsive-table">
					<thead>
						<% if ( locals.data ) { %>
							<tr>
								<th>
									<%= data[0][1] %>
								</th>
								<th>
									<%= data[0][2] %>
								</th>
								<th>
									<%= data[0][3] %>
								</th>
								<th>
									<%= data[0][4] %>
								</th>
								<th>09h-10h</th>
								<th>10h-11h</th>
								<th>11h-12h</th>
								<th>13h-14h</th>
								<th>14h-15h</th>
								<th>15h-16h</th>
								<th>16h-17h</th>
								<th>17h-18h</th>
							</tr>
							<% for (var row = 1; row < data.length; row++) { %>
					</thead>
					<tbody>
						<tr>
							<td>
								<%= data[row][1] %>
							</td>
							<td>
								<%= data[row][2] %>
							</td>
							<td>
								<%= data[row][3] %>
							</td>
							<td>
								<%= data[row][4] %>
							</td>
							<td>
								<%= data[row][13] %>
							</td>
							<td>
								<%= data[row][14] %>
							</td>
							<td>
								<%= data[row][15] %>
							</td>
							<td>
								<%= data[row][16] %>
							</td>
							<td>
								<%= data[row][17] %>
							</td>
							<td>
								<%= data[row][18] %>
							</td>
							<td>
								<%= data[row][19] %>
							</td>
							<td>
								<%= data[row][20] %>
							</td>
						</tr>
						<% }; %>
					</tbody>
				</table>
				<% } else { %>
					</table>
					<p>Data is empty</p>
					<% } %>
			</div>
		</div>
	</div>
<% } %>

<%# data.forEach(function(row) { %>
	<%# row.forEach(function(col) { %>
		<td>
			<%#= col %>
		</td>
		<%# }); %>
			<%# }); %>